@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'OpenSansMedium';
  src: url('../fonts/OpenSans-Medium.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/Roboto-Medium.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/Roboto-Bold.woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}
